/* nav styles */

header nav{
    display: flex;
    justify-content: center;
    background-color: rgb(88, 88, 179);
}

header nav ul{
    display: flex;
    padding-left: 10;
    list-style: none;
}

header nav ul li{
    display: flex;
    flex-direction: row; 
}

header nav ul li a{
    margin: 0 40px 0 0;
    color: rgb(238, 226, 56);
    font-weight: bolder;
    font-size: 15px;
}


/* nav style desktop */

@media all and (min-width: 600px) {

    header nav ul li a{
        margin: 0 100px 0 0;
        font-size: 30px;
    }
}